* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
section {
    width: 100vw;
    margin: 0%;
    border: 0%;
}
div{
    width: 100vw;
    height: 33%;
    margin: 0%;
    float: left;
}
.one {
    background-color: black;
   
}
.two {
    background-color: red;
    
}
.three {
    background-color: yellow;
}

@media only screen and (min-width: 900px) {
    .one, .two, .three {
        max-width: 33.3%;
        height: 100%;
        display: inline-block;
    }
    .two{
        background-color: yellow 
    }
    .three{
        background-color: red; 
    }
}
