* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.red{
    background-color: #b22234;
}
.white{
    background-color:white;
}
.stripe{
    width: 100vw;
    height: 50px;
}

.blue{
    position: absolute; 
    left:0px; 
    top:0px;
    background-color: #3c3b6e;
    width: 50vw;
    height: 350px;
    color: white;
    padding-left: 30px;
}

.blue div {
    height: 36px;
    text-align: center;
    font-size: 32px;
    color: white;
    letter-spacing: 60px;
}